<!-- Main container with theme support -->
<div
  class="min-h-screen bg-white dark:bg-gray-900 transition-colors duration-300"
>
  <div class="container mx-auto px-4 py-8">
    <!-- Theme toggle component -->
    <app-theme-switcher />
    <div class="card flex justify-center">
      <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
  </div>
   
    <!-- Router outlet for nested views -->
    <router-outlet />
  </div>
</div>
